$theme-colors: (
  'blue': rgb(10, 134, 255),
  'light-gray': rgb(248, 248, 248),
  'dark-magenta': rgb(29, 28, 29),
  'dark-grayish-magenta': rgb(97, 96, 97),
  'lime-green': #b2d5c9
);

$border-radius: 0.3rem;
$font-family-base: Lato, sans-serif;
