.member-profile-card {
  border-radius: 8px !important;
  background: white;
  box-shadow: rgba(29, 28, 29, 0.13) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.08) 0px 4px 12px 0px;
  > .card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .full-profile-link {
    margin: -16px 16px 16px;
    color: rgb(18, 100, 163);
  }
  .field {
    padding: 0 16px 12px 16px;
    .label {
      color: rgba(29, 28, 29, 0.7);
      font-weight: 700;
      font-size: 13px;
      line-height: 1.38463;
    }
  }
  .buttons {
    .btn {
      height: 36px;
      color: rgb(29, 28, 29);
      &:hover {
        background: rgba(29, 28, 29, 0.04);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
      }
    }
  }
}
.channel-create-modal {
  &.modal-content {
    border: none;
    border-radius: 8px;
    box-shadow: rgba(29, 28, 29, 0.13) 0px 0px 0px 1px,
      rgba(0, 0, 0, 0.35) 0px 18px 48px 0px;
    .modal-header {
      padding: 20px 28px;
      border: none;
    }
    .modal-title {
      font-weight: 900;
      font-size: 28px;
      line-height: 1.2143;
    }
    .modal-body {
      padding: 0px 28px;
      .form {
        margin-top: 18px;
      }
      .form-text {
        font-size: 13px;
      }
      .bv-no-focus-ring {
        position: relative;
      }
      .icon-hash {
        top: 50%;
        left: 12px;
        transform: translate3d(0, -50%, 0);

        .b-icon {
          font-size: 18px;
        }
      }
      .input {
        padding-left: 36px;
      }
      .input-count-characters-remaining {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translate3d(0, -50%, 0);
      }
      .fade-enter-active,
      .fade-leave-active {
        transition: opacity 0.2s;
      }
      .fade-enter,
      .fade-leave-to {
        opacity: 0;
      }
    }
    .modal-footer {
      padding: 24px 28px;
      border: none;
      > .btn {
        margin: 0;
        transition: all 0.2s;
      }
    }
  }
}
